.searchbar{
    width: 255px;
    padding: 1px 0px;
    margin-right: 60px;
    border-radius: 20px;
    background: #444444;
}

.groupname{
    margin: 10px 0px 10px 10px;
    padding: 0px;
    color: #FFFFFF;
    font-size: 28px;
}

.group{
    margin: 10px 0px 10px 20px;
}

.groupposition{
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    font-size: 20px;
}

.colorprobes{
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
}