.link{
    text-decoration: none;
}

.menubutton{
    transition: all 0.25s ease-in-out;
    background-color: #444444;
    border-radius: 20px;
    padding: 1px 12px;
    border: 2px solid #FFFFFF;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menubuttondisabled{
    transition: all 0.25s ease-in-out;
    background-color: #6A6A6A;
    border-radius: 20px;
    padding: 1px 12px;
    border: 2px solid #FFFFFF;
    display: flex;
    align-items: center;
}

.menubuttondisabled:hover::after {
    content: attr(data-title);
    position: absolute;
    z-index: 1;
    background: rgba(255,255,230,0.8);
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 3px;
}

.image{
    width: auto;
    height: 28px;
    margin-right: 10px;
    text-decoration: none;
    filter: invert(1);
    transition: all 0.25s ease-in-out;
}

.caption{
    color: #FFFFFF;
    transition: all 0.25s ease-in-out;
}

.menubutton:hover{
    background-color: #FFFFFF;
    border-color: #444444;
}

.menubutton:hover .caption{
    color: #444444;
}

.menubutton:hover .image{
    filter: invert(0.259);
}

